@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    font-family:'Lexend Deca', sans-serif;
    background-color: black;
}
div.info{
    margin-top: 100px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
    width: 60%;
}
div.info h2{
    color: orange;
    font-size: 34px;
}
div.info h4{
    color: orange;
    font-size: 20px;
}
.navbar{
    background-color: black;
}
.navbar #motubericon{
    width: 10%;
    height: 10%;
    float: auto;
}
.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline;
    margin-left: 60px;
    margin-top: 60px;
}
.navbar h3{
    color: white;
    font-size: 18px;
    margin-top: -29px;
    margin-left: 85%;
}
.navbar #contaicon{
    margin-left: 0px;
    max-width: 30px;
    max-height: 30px;
}
.navbar #sair{
    float: right;
    position: absolute;
    margin-top: 0px;
    margin-left: 240px;
}
div.contatoR{
    align-content: center;
    display: block;
    margin-left: -750px;
    color: orange;
    
}
div.contatoT{
    align-content: center;
    display: block;
    margin-left: 0px;
    margin-top: -155px;
    color: orange;
    
}
div.contatoE{
    display: block;
    margin-left: 750px;
    margin-top: -155px;
    color: orange;
    
}
footer{
    text-align: center;
}
div.info #email{
    position: absolute;
    margin-top: -100px;
    margin-left: 150px;
}
legend {
	background-color: orange;
    color: black;
	border-radius:4px;
	font-size:30px;
	text-align:left;
}
fieldset{
    margin-left: auto;
    margin-right: auto;
	display: block;
	border:1px solid orange;
	background-color: black;
	width: 60%;
	margin-top:-50px;
	border-radius:10px;
}
label{
    font-size: 20px;
    color: orange;
}
div.info p{
    font-size: 16px;
}
div.info button{
    margin-left: auto;
    margin-right: auto;
	display: block;
	background-color: orange;
	border: 2px solid orange;
	border-radius: 5px;
	padding: 10px;
	transition-duration: 0,5s;
    text-align: center;
}
div.info button:hover{
	background-color: darkorange;
}
div.info a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    color: black;
}
button{
    padding: 20px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: orange;
    font-size: 20px;
    transition-duration: 0.5s;
    margin-left: auto;
    margin-right: auto;
	display: block;
}
button:hover{
    background-color: white;
}
a{
    text-decoration: none;
    color:black
}
div.info #btn-editar, #btn-deletar{
    width: 20%;
}
